DATABASE_URL=postgres://medusa:medusa@127.0.0.1:5432/medusa
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:7001,http://localhost:9000
AUTH_CORS=http://localhost:3000,http://localhost:7001,http://localhost:9000
JWT_SECRET=supersecret_jwt_change_me
COOKIE_SECRET=supersecret_cookie_change_me
